.head {
    display: flex;
  }
  
  .box {
    flex-basis: 50%;
    height: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  